$blue: #228CD9; //蓝色
$green: #1ac031; //绿色
$darkerorange: #00206B; //深一级的主色
$lightblue: #07cfda; //配色（亮蓝色）
$gray: #33302D; //一级字色
$lightgray:#6F7071; //二级字色
$tintgray:#cdc9c5; //三级字色
$listhover:#f8f8f9; //hover背景色
$bordergray:#EAEAEA; //边框色&线条色
$stepgray:#E7E8EA; //期权激励步骤背景色
$error:#C9151E; //错误颜色（红色）
$padding:30px; //距离左右
$leftnav:200px; //左侧菜单栏宽度
$timer: #F14545; //计时器颜色

// flex上下左右居中
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
// flex上下居中
@mixin flexct {
    display: flex;
    align-items: center;
}

// 定位上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}